.panel-cool, .jumbotron-cool {
  background-image: linear-gradient(to top, lavender, white);
}
.jumbotron-cool{
  margin-bottom: 5px;
  margin-top: 0px;
}
.bg-cool-secondary{
  background-color: #024457;
  color: whitesmoke;
}
.bg-cool-primary {
  background-color: lavender;
}
.line {
  padding-top:20px;
  white-space:nowrap;
  overflow:hidden;
  text-align:center;
}
.btn {
  border-radius: 50px;
  //background-color: #024457;
}
.fa-spinner {
  animation: rotate 1s linear infinite;
}
