<div class="container">
  <div class="row">
    <div class="col-lg-8" style="font-family: Verdana;">
      <card>
        <div class="jumbotron jumbotron-cool">
          <h4 style="text-align: center; margin-top: 0; text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white"><strong>Dossier {{dossier?.id}}</strong></h4>
          <h4 style="text-align: center; margin-top: 0; text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white">
            Candidat:<strong> {{dossier?.candidat?.prenom}} {{dossier?.candidat?.nom}}</strong></h4>
        </div>
        <div class="panel-group" id="accordion">
          <div class="panel panel-cool" style="margin-top: 0px">
            <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
              <div class="panel-heading bg-cool-secondary">
                <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left; font-family: Verdana">
                  <strong>Expérience professionnelle<span class="caret"></span></strong>
                </h4>
              </div>
            </a>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div style="font-family: Verdana">
                  <ul *ngFor="let e of dossier?.experiencePros" class="list-group">
                    <li class="list-group-item">
                      <h4>
                        Du <strong>{{e?.dateDebut | date: 'dd/mm/yyyy'}}</strong>  au
                        <strong>{{e?.dateFin | date: 'dd/mm/yyyy'}}</strong><br><br>
                        Entreprise: <strong>{{e?.entreprise}}</strong><br>
                        Poste: <strong>{{e?.posteOccupe}}</strong><br>
                        Description: <strong>{{e?.description}}</strong>
                      </h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-cool" style="margin-top: 0px">
            <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
              <div class="panel-heading bg-cool-secondary">
                <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left; font-family: Verdana">
                  <strong>Diplomes obtenus <span class="caret"></span></strong>
                </h4>
              </div>
            </a>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <ul *ngFor="let d of dossier?.diplomes" class="list-group">
                  <li class="list-group-item"><i class="fa fa-leaf fa-fw"></i> <strong>{{d?.nom}}</strong><br>
                    Année: <strong>{{d?.anneeObtention}}</strong><br>
                    Structure: <strong>{{d?.structure}}</strong>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel panel-cool" style="margin-top: 0px">
              <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
                <div class="panel-heading bg-cool-secondary">
                  <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left; font-family: Verdana">
                    <strong>Commentaires<span class="caret"></span></strong>
                  </h4>
                </div>
              </a>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div style="font-family: Verdana">
                    <ul class="list-group" *ngFor="let c of dossier?.commentaires">
                      <li class="list-group-item">
                        <div class="row">
                          <i class="fa fa-leaf fa-fw"></i> {{c?.corps}}
                          <div class="form-group pull-right">
                            <button type="button" class="btn btn-danger btn-with-icon" (click)="onSuppCom(c)">
                              <i class="fa fa-minus-circle fa-fw"></i>Supprimer</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-wrap division form-group col-md-2">
                    <button type="button" class="btn  btn-with-icon btn-primary" style="margin: 25px;font-family: Verdana" (click)="comModal.open()">
                      <i class="fa fa-plus-circle fa-fw"></i>Ajouter commentaire</button>
                  </div>
                </div>
                <div class="panel-footer">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-wrap division form-group col-md-2 pull-left">
              <button type="button" class="btn btn-with-icon btn-success" style="margin: 25px;font-family: Verdana" (click)="onEntretien(dossier)">
                Retenir pour un entretien <i class="glyphicon glyphicon-ok-circle"></i></button>
            </div>
            <div class="btn-wrap division form-group pull-right">
              <button type="button" class="btn btn-with-icon btn-danger" style="margin: 25px;font-family: Verdana" (click)="suppModalD.open()">
                <i class="glyphicon glyphicon-ban-circle"></i> Eliminer </button>
            </div>
          </div>
          <ngx-smart-modal #suppModalD target="#modal_root" identifier="suppModalD" (onOpen)="popped=true" (onClose)="popped=false" >
            <br><br><br>
            <div *ngIf="popped">
              <div class="text-capitalize text-danger text-center">
                <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir éliminer ce candidat?</p>
              </div>
              <div class="row">
                <div class="col-md-4 form-group"><button (click)="suppModalD.close()" type="button" class="btn btn-danger btn-group ">
                  <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                </div>
                <div class="col-md-4 form-group">
                  <button (click)="onSuppDossier(dossier)" type="button" class="btn btn-success btn-group">
                    <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                </div>
              </div>
            </div>
          </ngx-smart-modal>
          <ngx-smart-modal #comModal target="#modal_root" identifier="comModal" (onOpen)="popped=true" (onClose)="popped=false" >
            <br><br><br>
            <div *ngIf="popped">
              <app-add-comment></app-add-comment>
              <div class="row">
                <div class="col-md-4 form-group"><button (click)="comModal.close()" type="button" class="btn btn-danger btn-group ">
                  <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                </div>
              </div>
            </div>
          </ngx-smart-modal>
        </div>
      </card>
    </div>
    <div class="col-md-4">
      <app-sessions-en-cours></app-sessions-en-cours>
    </div>
  </div>
</div>

