<card cardTitle="Portail écosystèmes">
<div class="col-md-12">
    <tabset id="tabs3" theme="justified">
      <tab-content for="tabs3" tabTitle="Articles" [active]="true">


        <card>
          <h1>Articles <span></span> : <span>La liste des articles</span></h1>
          <div class="row">
            <div class="col-md-6">
              <div class="btn-wrap division pull-left">
                <button type="button" class="btn  btn-with-icon"  (click)="goToAddArticleEcosystemes()" style="background-color: #024457; margin-right: 5px">
                  <i class="fa fa-plus-circle fa-fw"></i>Ajouter un article</button>
              </div>
            </div>
            <div class="col-md-6 search-group pull-right">
              <input type="text" class="search-input" [(ngModel)]="term" placeholder="Rechercher">
              <button class="search-btn"><i class="fa fa-search fa-fw"></i></button>
            </div><!--
    <div class="search-group  col-md-6 pull-right">
      <input type="text" class="search-input" placeholder="Rechercher · · ·"  [(ngModel)]="term0">
      <button class="search-btn">
        <i class="fa fa-search fa-fw"></i>
      </button>
    </div>-->
          </div>



          <table class="responstable">

            <tr>
              <th>#</th>
              <th>  LE TITRE DE L'ARTICLE </th>
              <th>Créé Le</th>
              <th>Publié Le</th>
              <th>ETAT</th>
              <th>ACTION</th>
            </tr>

            <p *ngIf="gettingData" style="text-align: center"><span class="fa fa-spinner fa-fw"></span> Chargement....</p>
            <tr *ngIf="articles?.length === 0" style="text-align: center">Liste des articles encore vide</tr>
            <tr *ngFor="let a of articles | paginate: { id: 'pager1', itemsPerPage: pageSize, currentPage: pageNumber}
                | filter:term; let i = index">
              <td>{{i + 1}}</td>
              <td>{{a?.titre}}</td>
              <td>{{a?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</td>
              <td>{{a?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}</td>
              <td> {{getState(a)}}</td>
              <td>
                      <span>
                        <div class="btn-wrap division">
                          <div class="btn-group">
                            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #024457; margin-right: 5px">Action<span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a (click)="onVoirArt(a)"><i class="fa fa-eye fa-fw"></i>Voir </a></li>
                                <li><a (click)="suppModal.open()"><i class="fa fa-minus-circle fa-fw"></i>Supprimer </a></li>
                              </ul>
                          </div>
                        </div>
                      </span>
              </td>
              <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
                <br><br><br>
                <div *ngIf="popped || deleting">
                  <div class="text-capitalize text-danger text-center">
                    <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                  </div>
                  <div class="row">
                    <div class="col-md-4 form-group"><button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                      <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                    </div>
                    <div class="col-md-4 form-group">
                      <button (click)="onSuppArt(a)" type="button" class="btn btn-success btn-group">
                        <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                    </div>
                  </div>

                  <div *ngIf="deleting" class="alert-success">
                    <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                  </div>
                </div>
              </ngx-smart-modal>


            </tr>



            <br><br><br><br>

          </table>

          <form class="pagination-wrapper">
            <div class="form-group pages">
              <pagination-controls class="my-pagination" id="pager1" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                   autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                   screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>
            <div class="form-group options pages">
              <div class="input-group input-group-sm">
                <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getArticles()">
                  <option>1</option>
                  <option>5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
                  <option>200</option>
                </select>
                <span class="input-group-addon addon-right">Par Page</span>
              </div>
            </div>
          </form>

        </card>

      </tab-content>
      <tab-content for="tabs3" tabTitle="Nos Sponsors"><i class="fa fa-file-pd-o"></i>
        <div class="row">
          <div class="col-md-12">
            <card cardTitle="Partenaires">
              <div class="row" style="margin: 50px">
                <div class="col-md-6">
                  <div class="btn-wrap division pull-left">
                    <button type="button" class="btn btn-with-icon" style="margin: 5px; border-radius: 50px; background-color: #024457"
                            (click)="goToAddPartenaire()"><i class="fa fa-plus-circle fa-fw"></i>Ajouter un Partenaire</button>
                  </div>
                </div>
                <div class="search-group  col-md-6 pull-right">
                  <input type="text" class="search-input" placeholder="Rechercher · · ·"  [(ngModel)]="term1">
                  <button class="search-btn">
                    <i class="fa fa-search fa-fw"></i>
                  </button>
                </div>
              </div>
              <table class="responstable">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Logo</th>
                  <th>  Nom </th>
                  <th>Site web</th>
                  <th>ACTION</th>
                </tr>
                <tr *ngIf="gettingData" style="text-align: center">
                  <span class="fa fa-spinner fa-fw"></span> Chargement....
                </tr>
                <tr *ngIf="parts?.length === 0" style="text-align: center">
                  Liste partenaires encore vide!
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let part of parts | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} | filter:term1;
               let i = index">
                  <td>{{i + 1}}</td>
                  <td><img src="{{part?.media?.url}}" class="img-responsive img-circle" style="max-width: 75px"></td>
                  <td>{{part?.nom}}</td>
                  <td><a href="{{part?.siteWeb}}">{{part?.siteWeb}}</a></td>
                  <td>
                    <span >
                      <div class="btn-wrap division">
                        <div class="btn-group">
                          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">Action<span class="caret"></span></button>
                           <ul class="dropdown-menu">
                            <li><a (click)="onVoirPart(part)"><i class="fa fa-eye fa-fw"></i>Voir</a></li>
                            <li><a (click)="suppModal2.open()"><i class="fa fa-minus-circle fa-fw"></i>Supprimer</a></li>
                           </ul>
                        </div>
                      </div>
                    </span>
                  </td>
                  <ngx-smart-modal #suppModal2 target="#modal_root" identifier="suppModal2" (onOpen)="popped=true" (onClose)="popped=false" >
                    <br><br><br>
                    <div *ngIf="popped || deleting">
                      <div class="text-capitalize text-danger text-center">
                        <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                      </div>
                      <div class="row">
                        <div class="col-md-4 form-group"><button (click)="suppModal2.close()" type="button" class="btn btn-danger btn-group ">
                          <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                        </div>
                        <div class="col-md-4 form-group">
                          <button (click)="onSuppPart(part)" type="button" class="btn btn-success btn-group">
                            <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                        </div>
                      </div>

                      <div *ngIf="deleting" class="alert-success">
                        <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                      </div>
                    </div>
                  </ngx-smart-modal>
                </tr>
                <br><br><br>
              </tbody>
            </table>
              <form class="pagination-wrapper">
                <div class="form-group pages">
                  <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                       autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                       screenReaderCurrentLabel="You're on page">
                  </pagination-controls>
                </div>
                <div class="form-group options pages">
                  <div class="input-group input-group-sm">
                    <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getParts()">
                      <option>1</option>
                      <option>5</option>
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option>
                      <option>200</option>
                    </select>
                    <span class="input-group-addon addon-right">Par Page</span>
                  </div>
                </div>
              </form>
          </card>
        </div>
      </div>
        <div class="alert-success" *ngIf="notif"><p>{{notif}}</p></div>
    </tab-content>
    </tabset>
</div>
</card>
