<h3></h3>
<card cardTitle="{{titreAr}}">
  <form [formGroup]="formArticle">
    <div class="col-md-6 form-group">
      <label>Titre</label>
      <input type="text" [(ngModel)]="a.titre" class="form-control" formControlName="titre">
    </div><br><br><br>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Corps</label>
        <pell-editor [defaultContent]="a?.corps" (content)="onContentChange($event)"></pell-editor>
      </div>
      <div class="col-md-6">
        <div class="card card-block">
          <div >
            <div class="row">
              <h4 class="col-md-12">Sélectionner les fichiers puis confirmer en appuyant Upload All</h4>
              <div class="col-md-12">
                <input class="col-md-6" type="file" ng2FileSelect [uploader]="uploader"
                       accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt"
                       (onFileSelected)="fileDropped($event)" multiple/>
                <h3>Fichiers Choisis</h3>
                <p>Nombre de Fichiers: {{ uploader?.queue?.length }}</p>
                <table class="table">
                  <thead>
                  <tr>
                    <th width="45%">Name</th>
                    <th WIDTH="10%">Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      <strong>{{ item?.file?.name }}</strong>
                    </td>
                    <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="glyphicon glyphicon-ok"></i>
            </span>
                      <span *ngIf="item.isCancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </span>
                      <span *ngIf="item.isError">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs"
                              [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                              [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div>
                  <div>
                    Queue progress:
                    <progress-bar [percent]="uploader.progress" theme="success"></progress-bar>
                  </div>
                  <button type="button" class="btn btn-success btn-s" (click)="onUpload()"
                          [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
                          [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                          [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
                </div>
              </div>

            </div>
            <div class="row">
              <h3 class="col-md-12">Select Tags</h3>
              <div class="col-md-6">
                <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                           (removed)="removed($event)" placeholder="No city selected"></ng-select>
              </div>
              <div class="col-md-6">
                <pre>{{itemsToString(value)}}</pre>
                <br><br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h4>Sélectionner la page de votre article</h4>
          <select  >
            <option value="news">News</option>
            <option value="tic">Département TIC</option>
            <option value="automobile">Département Automobile</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-warning btn-with-icon" (click)="onSubmit()" [disabled]="!formArticle.valid || !mediaOkk">Valider
      <i class="fa fa-send-o fa-fw"></i></button>
    </div>
    <div *ngIf="message" class="alert-success col-md-4">
      <p>{{message}}</p>
    </div>
   </form>
</card>


