<card cardTitle={{cardTitle}} style="font-family: Verdana">
   <form [formGroup]="formFil">
     <div class="row">
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         <label>Nom de la filière</label>
         <input type="text" [(ngModel)]="f.nom" class="form-control" formControlName="nomFil">
       </div>
       <div class="form-group col-md-8 col-sm-8 col-lg-8"></div>
     </div>
         <a (click)="onShowPresentation()" style="text-decoration: none; color: black">
           <div><h4 style="text-align: left"><strong>Présentation <span class="caret"></span></strong></h4></div>
         </a>
             <div class="form-group col-md-6 col-lg-6" *ngIf="showPresentation">
               <pell-editor [defaultContent]="f?.presentation" (content)="onPresentationChange($event)" id="presentation"></pell-editor>
             </div>
         <a (click)="onShowObjectifs()" style="text-decoration: none; color: black">
           <div><h4 style="text-align: left"><strong>Objectifs <span class="caret"></span></strong></h4></div>
         </a>
             <div class="form-group col-md-6 col-lg-6" *ngIf="showObjectifs">
               <pell-editor [defaultContent]="f?.objectif" (content)="onObjectifsChange($event)" id="objectifs"></pell-editor>
             </div>
         <a (click)="onShowConditions()" style="text-decoration: none; color: black">
           <div><h4 style="text-align: left"><strong>Conditions d'admission <span class="caret"></span></strong></h4></div>
         </a>
             <div class="form-group col-md-6 col-lg-6" *ngIf="showConditions">
               <pell-editor [defaultContent]="f?.conditionAdmission" (content)="onConditionsChange($event)" id="conditions"></pell-editor>
             </div>
         <a (click)="onShowDebouches()" style="text-decoration: none; color: black">
           <div><h4 style="text-align: left"><strong>Débouchés <span class="caret"></span></strong></h4></div>
         </a>
             <div class="form-group col-md-6 col-lg-6" *ngIf="showDebouches">
               <pell-editor [defaultContent]="f?.debouches" (content)="onDebouchesChange($event)" id="debouches"></pell-editor>
             </div>
     <!--ANCIEN-->
     <div class="form-group">
       <button class="btn btn-success" (click)="onSubmitFil()" [disabled]="!formFil.valid || submittingForm">Valider <span class="glyphicon glyphicon-ok"></span></button>
     </div>
     <div *ngIf="messageFil" class="alert-success col-md-4">
       <p>{{messageFil}}</p>
     </div>
   </form>
  <div class="alert-info col-md-4" *ngIf="submittingForm">
    <span class="fa fa-spinner fa-fw"></span> Enregistrement....
  </div>
 </card>

