.panel-cool, .jumbotron-cool {
  background-color: lavender;
}
.jumbotron-cool{
  margin-bottom: 5px;
  margin-top: 0px;
}
.bg-cool-secondary{
  background-color: #17202A;
  color: whitesmoke;
}
.bg-cool-primary {
  background-color: lavender;
}
.fa-spinner {
  animation: rotate 1s linear infinite;
}
.form-control{
  border-radius: 50px;
}
.btn {
  border-radius: 50px;
}
