<card>
  <h3>AJOUT D'UN NOUVEAU LABEL</h3>

  <form [formGroup]="formLabel">

    <div class="form-group row">
      <label  class="col-sm-2 col-form-label" for="titre">Titre</label>
      <div class="col-sm-6">
        <input type="text" [(ngModel)]="l.titre" class="form-control form-control-border" formControlName="titre" id="titre">
      </div>
    </div>
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label" for="corps">Corps</label>
      <div class="col-sm-6">
        <textarea type="text" [(ngModel)]="l.corps" class="form-control" formControlName="corps" id="corps"></textarea>
      </div>
    </div>
    <br>
    <div class="form-group">
      <button class="btn btn-success btn-with-icon" (click)="onSubmit()" [disabled]="!formLabel.valid">Enregistrer
      <i class="glyphicon glyphicon-ok"></i></button>
    </div>
  </form>
  <div *ngIf="message" class="alert-danger col-md-4">{{message}}</div>
</card>
