<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <card cardTitle="Nouvelle session de candidature">
        <form [formGroup]="formSession">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="titre">Titre</label>
              <input type="text" [(ngModel)]="s.titre" class="form-control" formControlName="titre" id="titre">
            </div>
            <div class="col-md-6 form-group">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="30" rows="10" formControlName="description" [(ngModel)]="s.description"
                        class="form-control"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-6" id="texte-visualisation"></div>
          </div>
          <div class="row" id="dates-debut-et-fin">
            <div class="col-md-6 form-group">
              <label for="debut">Date de Début (*)</label>
              <owl-date-time id="debut" [placeHolder]="'Date de début (*)'" [dateFormat]="'DD-MM-YYYY'"
                             [inputId]="'dateDebut'" [locale]="fr" [(ngModel)]="s.dateDebut" formControlName="dateDebut">
              </owl-date-time>
            </div>
            <div class="col-md-6 form-group">
              <label for="fin">Date de Cloture (*)</label>
              <owl-date-time id="fin" [placeHolder]="'Date de cloture (*)'" [dateFormat]="'DD-MM-YYYY'"
                             [inputId]="'dateFin'" [locale]="fr" [(ngModel)]="s.dateFin" formControlName="dateFin">
              </owl-date-time>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-with-icon" (click)="onSubmit()" [disabled]="!formSession.valid">Valider
              <i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </form>
        <div *ngIf="message" class="alert-success col-md-4">
          <p>{{message}}</p>
        </div>
        <div class="alert-info col-md-4" *ngIf="submittingSession && message === undefined">
          <span class="fa fa-spinner fa-fw"></span> Enregistrement....
        </div>
      </card>
    </div>
    <div class="col-lg-4 col-md-4"><app-sessions-en-cours></app-sessions-en-cours></div>
  </div>
</div>
