<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <card>
        <h1><span>APPELS A CANDIDATURE</span></h1>
        <div class="row">
          <div class="col-md-6">
            <div class="btn-wrap division pull-left">
              <button type="button" class="btn  btn-with-icon btn-primary"  (click)="goToEditorSession()">
                <i class="fa fa-plus-circle fa-fw"></i>Lancer une nouvelle session</button>
            </div>
          </div>
          <div class="col-md-6 search-group pull-right">
            <input type="text" class="search-input" [(ngModel)]="term" placeholder="Rechercher">
            <button class="search-btn"><i class="fa fa-search fa-fw"></i></button>
          </div>
        </div>
        <table class="responstable">
          <tr>
            <th>#</th>
            <th>   TITRE  </th>
            <th>   Du  </th>
            <th>   Au </th>
            <th>ACTION</th>
          </tr>
          <tr *ngIf="gettingSessions && message === undefined" style="text-align: center"><span class="fa fa-spinner fa-fw"></span> Chargement en cours....</tr>
          <tr *ngIf="message" style="text-align: center" class="alert-danger">{{message}}</tr>
          <tr *ngFor="let s of sessionRecrutements | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} | filter:term; let i = index" >
            <td>{{i + 1}}</td>
            <td>{{s?.titre}}</td>
            <td>{{s?.dateDebut| date: 'dd/MM/yyyy à HH:mm'}}</td>
            <td>{{s?.dateFin| date: 'dd/MM/yyyy à HH:mm'}}</td>
            <td>
              <div class="btn-wrap division row center">
                <div class="btn-group">
                  <button type="button" class="btn btn-info" (click)="onVoirSession(s)">
                    <i class="fa fa-eye fa-fw"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-success" (click)="updateSession(s)">
                    <i class="fa fa-edit fa-fw"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger" (click)="suppModal.open()">
                    <i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </td>
            <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
              <br><br><br>
              <div *ngIf="popped || deleting">
                <div class="text-capitalize text-danger text-center">
                  <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                </div>
                <div class="row">
                  <div class="col-md-2 col-md-offset-2"></div>
                  <div class="col-md-2 form-group">
                    <button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                      <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                  </div>
                  <div class="col-md-2 form-group">
                    <button (click)="onDeleteSession(s)" type="button" class="btn btn-success btn-group">
                      <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                  </div>
                </div>
                <div *ngIf="deleting" class="alert-success">
                  <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                </div>
                <div *ngIf="message" class="alert-success">
                  <p>{{message}}</p>
                </div>
              </div>
            </ngx-smart-modal>
          </tr>
          <br><br><br><br>
        </table>
        <form class="pagination-wrapper">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                 autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="form-group options pages">
            <div class="input-group input-group-sm">
              <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getArticles()">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <span class="input-group-addon addon-right">Par Page</span>
            </div>
          </div>
        </form>
      </card>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-sessions-en-cours></app-sessions-en-cours>
    </div>
  </div>
</div>
