
<!--END En-tete -->
<!-- Article-->
<div class="container" *ngIf="!modifAppel">
  <div class="col-lg-8">
    <div id="titre">
      <h3>{{appel?.titre}}</h3>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{appel?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 100%" src="../../../assets/images/ao.jpg" >
      <div class="card-body">
        <BR><br>
        <div id="texte" style="margin-left: 15px"></div>
        <br><br>
        <div style="margin-left: 15px">
        <div *ngIf="appel?.videos && appel?.videos.length > 1">

          <div *ngFor="let v of appel?.videos; let i = index">
            <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
          </div>
        </div>
        <div *ngIf="appel?.documents && appel?.documents.length > 0">
          <p>Les pièces jointes de cet article:</p>
          <div *ngFor="let d of appel?.documents">
            <a href="{{d?.url}}">{{d?.nom}}</a><br>
          </div>
        </div>
        <div *ngIf="appel?.images && appel?.images.length > 0">
          <div *ngFor="let i of appel?.images">
            <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap"><br>
          </div>
        </div>
        <br><br>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="modifAppel=true" style="background-color: #024457; margin-right: 5px">Modifier
              <i class="fa fa-edit fa-fw"></i></button>
            <br><br>
          </div>
          <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="onPublier(appel)" style="background-color: #024457; margin-right: 5px">Publier l'appel
              <i class="fa fa-send fa-fw"></i></button>
            <br><br>
          </div>
          <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="onPublier(appel)" style="background-color: #024457; margin-right: 5px">Publier ultérieurement
              <i class="fa fa-send-o fa-fw"></i></button>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="modifAppel"><app-editor-appel-doffres [a]="appel"></app-editor-appel-doffres></div>






