<h3> Ajouter un nouveau User</h3>
<form [formGroup]="formUser">
<div class="col-md-6" style="align-content: center" >

  <label>Prénom</label>
  <input type="text"   [(ngModel)]="u.prenom" class="form-control" formControlName="prenom">
  <label>Nom</label>
  <input type="text"    [(ngModel)]="u.nom" class="form-control" formControlName="nom">
  <label>Email</label>
  <input type="email"    [(ngModel)]="u.mail" class="form-control" formControlName="mail">
  <label>Téléphone</label>
  <input type="text"   [(ngModel)]="u.telephone" class="form-control" formControlName="telephone">
  <label>Username</label>
  <input type="text"   [(ngModel)]="u.username" class="form-control" formControlName="username">
  <label>Mot  de passe</label>
  <input type="password" [(ngModel)]="u.password" class="form-control" formControlName="password">
  <label>Rôle</label>
  <select  [(ngModel)]="u.role" class="form-control" formControlName="role" >
    <option value="news">Gestion Article</option>
    <option value="events">Gestion Evenement</option>
    <option value="annonces">Gestion Annonces</option>
    <option value="ecosysteme">Gestion Ecosysteme</option>
  </select><br/>
  <button class="btn-success btn-xs" (click)="onSubmit()" [disabled]="!formUser.valid">Ajouter!</button>

</div>
</form>

