
  <div class="col-md-8">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">Prénom</label>
        <input type="text" class="form-control" placeholder="Massamba">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Diop</label>
        <input type="text" class="form-control" placeholder="Diop">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Mail</label>
        <input type="text" class="form-control" placeholder="massd28@gmail.com">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Adresse</label>
        <input type="text" class="form-control" placeholder="ISEP DD">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" placeholder="Massd28">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Password</label>
        <input type="text" class="form-control" placeholder="********">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Téléphone</label>
        <input type="number" class="form-control" placeholder="774781954">
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary">Update Profile</button>
      </div>
    </div>
  </div>

