<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      <span class="map-location">
        <i class="fa fa-map-marker"></i>
        <span>Mbao, Dakar</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <h4>Skills</h4>
      <div class="skills-wrap">
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
        <a href="#" class="skills-tag">interface</a>
      </div>
      <h4>Social</h4>
      <ul class="contact-way-item">
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-wechat"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-weibo"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-facebook"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-github"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-envelope"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
