<style>
  .btn, .form-control {
    border-radius:50px;
  }
  .fa-spinner {
    animation: rotate 1s linear infinite;
  }
</style>
<div class="row">
  <h3 class="col-md-12">Selectionner les Tags</h3>
</div>
<div class="row">

  <div class="col-md-12">
    <div *ngIf="items.length !== 0">
      <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                 (removed)="removed($event)" placeholder="Aucun tag sélectionné"></ng-select>
    </div>
  </div>
  <div class="col-md-12">
    <pre>{{itemsToString(value)}}</pre>
  </div>
</div>

<div class="col-md-12">
  <button type="button" class="btn  btn-with-icon"   style="background-color: #024457; margin-right: 5px" (click)="ajouterTag()">
    <i class="fa fa-plus-circle fa-fw"></i> Tag</button>
</div>
<div *ngIf="ajoutTag" class="col-md-12">
  <form [formGroup]="formTag">
  <input type="text" [(ngModel)]="t.nom" class="form-control" formControlName="nom">
  <button (click)="onSubmit()" [disabled]="!formTag.valid" class="btn btn-with-icon">Valider <i class="glyphicon glyphicon-ok-circle"></i></button>
  </form>
  <div class="alert-info col-md-4" *ngIf="submittingTag">
    <span class="fa fa-spinner fa-fw"></span> Enregistrement....
  </div>
</div>
