<!-- Article
<div style="background-image: url('../../../../../assets/images/slider_2.jpg'); background-size: cover">
  <br><br><br>
  <h1 style="text-align: center; margin-top: 0"><strong>{{dept?.nom}}</strong></h1>
  <br><br><br>
</div>-->
<div class="container" [hidden]="ajout || modifDept">
  <div class="col-lg-8" style="font-family: Verdana;">
    <div class="jumbotron jumbotron-cool" [ngStyle]="{'background-image':'url('+dept?.medias[0]?.url+')'}" style=" background-size: cover">
      <h2 style="text-align: center; margin-top: 0; text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white"><strong>{{dept?.nom}}</strong></h2>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left; font-family: Verdana">
              <strong>Description <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
           <div [innerHtml]="dept?.description" style="font-family: Verdana"></div>
          </div>
        </div>
      </div>
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left; font-family: Verdana">
              <strong>Filières <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <card>
              <table class="table">
                <tbody>
                <p *ngIf="gettingFilieres"><span class="fa fa-spinner fa-fw"></span> Chargement....</p>
                <tr *ngFor="let fil of dept.filieres;let index = index">
                  <td>{{index + 1}}</td>
                  <td style="font-family: Verdana">{{fil?.nom}}</td>
                  <td>
              <span >
                <div class="btn-wrap division">
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a (click)="onSelectFil(fil)" style="font-family: Verdana"><i class="fa fa-eye fa-fw"></i>Voir</a></li>
                      <li><a (click)="suppModal.open()" style="font-family: Verdana"><i class="fa fa-minus-circle fa-fw"></i>Supprimer</a></li>
                    </ul>
                  </div>
                </div>
              </span>
                  </td>
                  <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
                    <br><br><br>
                    <div *ngIf="popped || deletingFiliere">
                      <div class="text-capitalize text-danger text-center">
                        <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                      </div>
                      <div class="row">
                        <div class="col-md-4 form-group"><button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                          <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                        </div>
                        <div class="col-md-4 form-group">
                          <button (click)="onDeleteFil(fil)" type="button" class="btn btn-success btn-group">
                            <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                        </div>
                      </div>

                      <div *ngIf="deletingFiliere" class="alert-success">
                        <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                      </div>
                    </div>
                  </ngx-smart-modal>
                </tr>
                <br><br>
                </tbody>
              </table>
            </card>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-wrap division form-group col-md-2">
          <button type="button" class="btn  btn-with-icon" style="margin: 25px;font-family: Verdana" (click)="onModifierDept()">
            <i class="fa fa-edit fa-fw"></i>Modifier</button>
        </div>
        <div class="btn-wrap division form-group col-md-3">
          <button type="button" class="btn btn-with-icon" style="margin: 25px;font-family: Verdana" (click)="onAjoutFiliere()">
            <i class="fa fa-plus-circle fa-fw"></i>Ajouter filière</button>
        </div>
        <div class="btn-wrap division form-group col-md-2">
          <button type="button" class="btn btn-with-icon" style="margin: 25px;font-family: Verdana" (click)="suppModalD.open()">
            <i class="fa fa-minus-circle fa-fw"></i> Supprimer</button>
        </div>
      </div>
      <ngx-smart-modal #suppModalD target="#modal_root" identifier="suppModalD" (onOpen)="popped=true" (onClose)="popped=false" >
        <br><br><br>
        <div *ngIf="popped || deletingDept">
          <div class="text-capitalize text-danger text-center">
            <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
          </div>
          <div class="row">
            <div class="col-md-4 form-group"><button (click)="suppModalD.close()" type="button" class="btn btn-danger btn-group ">
              <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
            </div>
            <div class="col-md-4 form-group">
              <button (click)="onSuppDept(dept)" type="button" class="btn btn-success btn-group">
                <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
            </div>
          </div>

          <div *ngIf="deletingDept" class="alert-success">
            <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
          </div>
        </div>
      </ngx-smart-modal>
      <div *ngIf="mel" class="alert-success"><p>{{mel}}</p></div>
    </div>
    </div>
  </div>
<div>
  <app-editor-departements *ngIf="modifDept" [defaultContent]="dept?.description" [d]="dept"></app-editor-departements>
</div>
<div>
  <app-ajout-filiere *ngIf="ajout" [f]="filiere" [d]="dept" [contentPres]="filiere?.presentation"
                     [contentObj]="filiere?.objectif" [contentCond]="filiere?.conditionAdmission"
                     [contentDeb]="filiere?.debouches" (backFil)="retourCreation($event)">
  </app-ajout-filiere>
</div>
