<div class="container">
  <card cardTitle="{{titreAr}}">
    <form [formGroup]="formArticle">
      <div class="row">
        <div class="col-md-6 col-lg-4 form-group">
          <label for="titre">Titre</label>
          <input type="text" [(ngModel)]="a.titre" class="form-control" formControlName="titre" id="titre">
        </div>
        <div class="col-md-6 col-lg-4 form-group">
          <label for="part">Partenaire concerné</label>
          <select name="role" class="form-control" [(ngModel)]="a.partenaire" formControlName="partenaire" id="part" >
            <option *ngFor="let part of parts" [ngValue]="part">
              {{part.nom}}
            </option>
          </select>
          <div class="alert-info" *ngIf="gettingParts" style="border-radius: 50px">
            <span class="fa fa-spinner fa-fw"></span> Chargement....
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="corps">Corps</label>
          <pell-editor [defaultContent]="a?.corps" (content)="onContentChange($event)" id="corps"></pell-editor>
        </div>
        <div id="text-output" class="col-md-6" ></div>
      </div>
      <div class="row card">
        <div class="col-md-4 card-block" *ngIf="!casCreation && a?.mediaArticles?.length > 0">
          <h4>Liste des médias</h4>
          <ul class="list-group" *ngFor="let m of a?.mediaArticles">
            <li class="list-group-item">{{m?.pk?.media?.nom}} <button type="button" class="btn btn-danger" (click)="onSupp(m?.pk?.media, a)">
              <span class="glyphicon glyphicon-trash"></span> Supp</button>
            </li>
          </ul>
        </div>
        <div class="col-md-6 card-block">
          <div class="form-group">
            <label for="fichiers">Sélectionner les fichiers puis confirmer sur Upload tout</label>
            <input type="file" id="fichiers" ng2FileSelect [uploader]="uploader" accept="bmp, .tiff, .gif,
                . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt" (onFileSelected)="fileDropped($event)" multiple />
            <p>Nombre de fichiers choisis: {{ uploader?.queue?.length }}</p>
            <table class="table">
              <thead>
              <tr>
                <th width="45%">Nom</th>
                <th WIDTH="10%">Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-xs"  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload</button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Annuler</button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div>Queue progress:<progress-bar [percent]="uploader.progress" theme="success"></progress-bar></div>
            <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload tout</button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Annuler tout</button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Supprimer tout</button>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="row">
          <h3 class="col-md-12">Selectionner les Tags</h3>
        </div>
        <div class="row">

          <div class="col-md-12">
            <div *ngIf="items.length !== 0">
              <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                         (removed)="removed($event)" placeholder="Aucun tag sélectionné"></ng-select>
            </div>
          </div>
          <div class="col-md-12">
            <pre>{{itemsToString(value)}}</pre>
          </div>
        </div>

        <div class="col-md-12">
          <button type="button" class="btn  btn-with-icon"   style="background-color: #024457; margin-right: 5px" (click)="ajouterTag()">
            <i class="fa fa-plus-circle fa-fw"></i>+ Tag</button>
        </div>
        <div *ngIf="ajoutTag" class="col-md-12">
          <form [formGroup]="formTag">
            <input type="text" [(ngModel)]="t.nom" class="form-control" formControlName="nom">
            <button (click)="onSubmitTag()" [disabled]="!formTag.valid">Valider</button>
          </form>
        </div>

        <br><br>
      </div>

      <div class="form-group">
        <button class=" btn btn-success" type="button" (click)="onSubmit()" [disabled]="!formArticle.valid || submittingForm">Valider
          <span class="glyphicon glyphicon-ok"></span></button>
      </div>
      <div *ngIf="message" class="alert-success col-md-4"><p>{{message}}</p></div>
    </form>
    <div class="alert-info col-md-4" *ngIf="submittingForm && message === undefined">
      <span class="fa fa-spinner fa-fw"></span> Enregistrement....
    </div>
  </card>
</div>
<div *ngIf="messageErr"><app-error [message]="messageErr" [message0]="message"></app-error></div>
