.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.another-file-over-class {
  border: dotted 3px green;
}

.fa-spinner {
  animation: rotate 1s linear infinite;
}
.form-control{
  border-radius: 50px;
}
.btn {
  border-radius: 50px;
}
