
<!--END En-tete -->
<!-- Article-->
<div class="container" *ngIf="!mod">
  <div class="col-lg-8">
    <div id="titre">
      <h3>{{article?.titre}}</h3>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{article?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 100%" src="{{article?.mediaArticles[0]?.pk.media.url}}" >
      <div class="card-body">
        <BR><br>
        <div id="texte" style="margin-left: 15px"></div>
        <br><br>
      <div style="margin-left: 15px">
        <div *ngIf="article?.videos && article?.videos.length > 0">

          <div *ngFor="let v of article?.videos; let i = index">
            <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
          </div>
        </div>
        <div *ngIf="article?.documents && article?.documents.length > 0">
          <p>Les pièces jointes de cet article:</p>
          <div *ngFor="let d of article?.documents">
            <a href="{{d?.url}}">{{d?.nom}}</a><br>
          </div>
        </div>
        <div *ngIf="article?.images && article?.images.length > 1">
          <div *ngFor="let i of article?.images">
            <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap"><br>
          </div>
        </div>
        <br>
      </div><!--
        <div class="text-danger">
          <ul class="list-group" *ngFor="let t of article?.articleTags">
            <li class="list-group-item-danger">ID: {{t?.pk?.tag?.id}} <br> Nom: {{t?.pk?.tag?.nom}}  </li>
          </ul>
        </div>-->
        <div class="row" *ngIf="!article?.state">
          <div class="col-md-4 form-group">
            <div class="btn-wrap division">
              <button type="button" class="btn  btn-with-icon"  (click)="onMMM()" style="background-color: #024457;margin-right: 5px">
                <i class="fa fa-edit fa-fw"></i> Modifier</button>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="btn-wrap division">
              <button type="button" class="btn  btn-with-icon"  (click)="onPublier(article)" style="background-color: #024457; margin-right: 5px">
                <i class="fa fa-send fa-fw"></i> Publier maintenant</button>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="btn-wrap division">
              <button type="button" class="btn  btn-with-icon"  (click)="onPublerAfter()" style="background-color: #024457; margin-right: 5px">
                <i class="fa fa-send-o fa-fw"></i> Publier ultérieurement</button>
            </div>
          </div>
        </div>
        <br>

      <div *ngIf="publierAfter">
        <div class="col-md-6">
          <label>Date de Publication (*)</label>
          <owl-date-time
            [placeHolder]="'Date de Publication (*)'"
            [dateFormat]="'DD-MM-YYYY'"
            [inputId]="'datePublication'"
            [locale]="fr"
            [(ngModel)]="article.datePublication">

          </owl-date-time>
        </div>
        <br><br><br><button type="button" class="btn  btn-with-icon"  (click)="onValider(article)" style="background-color: #024457; margin-right: 5px">Valider</button>
      </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="mod"><app-editor-article [pellContent]="article?.corps" [a]="article"></app-editor-article></div>
