<card cardTitle="NOUVELLE ALLOCUTION">
  <form [formGroup]="formAllocution">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="titre">Titre</label>
        <input type="text" [(ngModel)]="a.titre" class="form-control" formControlName="titre" id="titre">
      </div>
      <div class="col-md-6 col-md-offset-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="corps">Corps</label>
        <pell-editor [defaultContent]="a.corps" (content)="onContentChange($event)" id="corps"></pell-editor>
      </div>
      <div class="col-md-6 col-md-offset-6" id="text-visualisation"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Sélectionner les fichiers puis confirmer en appuyant Upload All</h4>
        <div class="form-group">
          <input class="col-md-6" type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileDropped($event)" multiple />
        </div>
        <div class="col-md-12">
          <h3>Fichiers Choisis</h3>
          <p>Nombre de Fichiers: {{ uploader?.queue?.length }}</p>
          <table class="table">
            <thead>
            <tr>
              <th width="45%">Name</th>
              <th WIDTH="10%">Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <strong>{{ item?.file?.name }}</strong>
              </td>
              <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="glyphicon glyphicon-ok"></i>
            </span>
                <span *ngIf="item.isCancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </span>
                <span *ngIf="item.isError">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
              </td>
              <td>
                <button type="button" class="btn btn-success btn-xs"  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div>
            <div>
              Queue progress:
              <progress-bar [percent]="uploader.progress" theme="success"></progress-bar>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-6"></div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-8 pull-left"></div>
      <div class="col-md-4 form-group pull-right">
        <button class="btn btn-success btn-with-icon" (click)="onSubmit()" [disabled]="!formAllocution.valid">Valider
          <i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
  </form>
  <div *ngIf="message" class="alert-danger">
    <p>{{message}}</p>
  </div>
  <div class="alert-info col-md-4" *ngIf="submitting">
    <span class="fa fa-spinner fa-fw"></span> Enregistrement....
  </div>
  </card>


