<card cardTitle="{{titre}}">
    <form [formGroup]="formEvent">
      <div class="row" id="ghh">
        <div class="col-md-6 form-group" id="edition-titre">
          <label for="titre">Titre</label>
          <input type="text" [(ngModel)]="e.titre" class="form-control" formControlName="titre" id="titre">
        </div>
        <div class="col-md-6 col-md-offset-6" id="marge"></div>
      </div>
    <div class="row" id="contenu">
      <div class="col-md-6 form-group" id="edition">
        <label for="corps">Corps</label>
        <pell-editor [defaultContent]="e.corps" (content)="onContentChange($event)" id="corps"></pell-editor>
      </div>
      <div id="texte-visualisation" class="col-md-6 col-md-offset-6"></div>
    </div>
    <div class="row" id="Medias">
      <div class="col-md-6 card-block" id="liste-medias-existant"><!--*ngIf="!casCreation && a?.mediaArticles?.length > 0"-->
        <h4>Liste des médias</h4>
        <ul class="list-group" *ngFor="let m of e?.mediaArticles">
          <li class="list-group-item">{{m?.pk?.media?.nom}} <button type="button" class="btn btn-danger" (click)="onSupp(m?.pk?.media, e)">
            <span class="glyphicon glyphicon-trash"></span> Supp</button>
          </li>
        </ul>
      </div>
      <div class="col-md-6 card-block" id="chargement-nouveaux-medias">
        <h4>Sélectionner les fichiers puis confirmer en appuyant Update All</h4>
         <div class="form-group">
           <input class="col-md-6" type="file" ng2FileSelect [uploader]="uploader" accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt" (onFileSelected)="fileDropped($event)" multiple />
         </div>
         <div>
          <h3>Fichiers Choisis</h3>
          <p>Nombre de Fichiers: {{ uploader?.queue?.length }}</p>
          <table class="table">
            <thead>
             <tr><th width="45%">Name</th><th WIDTH="10%">Status</th><th>Actions</th></tr>
            </thead>
            <tbody>
             <tr *ngFor="let item of uploader.queue">
               <td><strong>{{ item?.file?.name }}</strong></td>
               <td class="text-center"><span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                       <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                       <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
               </td>
               <td>
                 <button type="button" class="btn btn-success btn-xs"  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                 </button>
                 <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                 </button>
                 <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                 </button>
               </td>
             </tr>
            </tbody>
          </table>
          <div>
            Queue progress:
            <progress-bar [percent]="uploader.progress" theme="success"></progress-bar>
          </div>
          <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
         </div>
      </div>
    </div>
    <div class="row" id="dates-debut-et-fin">
      <div class="col-md-6 form-group">
        <label for="debut">Date de Début (*)</label>
        <owl-date-time id="debut"
          [placeHolder]="'Date de début (*)'"
          [dateFormat]="'DD-MM-YYYY'"
          [inputId]="'dateDebut'"
          [locale]="fr"
          [(ngModel)]="e.dateDebut"
          formControlName="dateDebut">
        </owl-date-time>
      </div>
      <div class="col-md-6 form-group">
        <label for="fin">Date de Cloture (*)</label>
        <owl-date-time id="fin"
          [placeHolder]="'Date de cloture (*)'"
          [dateFormat]="'DD-MM-YYYY'"
          [inputId]="'dateFin'"
          [locale]="fr"
          [(ngModel)]="e.dateFin"
          formControlName="dateFin">
        </owl-date-time>
      </div>
    </div>
    <div class="row" id="tags">
      <div class="col-md-6">
        <h3>Selectionner les Tags</h3>
        <div *ngIf="items.length !== 0">
          <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                     (removed)="removed($event)" placeholder="Aucun tag sélectionné"></ng-select>
        </div>
        <div><pre>{{itemsToString(value)}}</pre></div>
      </div>
      <div class="col-md-6 form-group">
          <button type="button" class="btn  btn-with-icon"   style="background-color: #024457; margin-right: 5px" (click)="ajouterTag()">
            <i class="fa fa-plus-circle fa-fw"></i> Tag</button>
      </div>
      <div *ngIf="ajoutTag" class="col-md-6">
        <form [formGroup]="formTag">
          <input type="text" [(ngModel)]="t.nom" class="form-control" formControlName="nom">
          <button (click)="onSubmitTag()" [disabled]="!formTag.valid" class="btn btn-with-icon" style="background-color: #024457; margin-right: 5px" >
            Valider <i class="glyphicon glyphicon-ok-circle"></i></button>
        </form>
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-with-icon" (click)="onSubmit()" [disabled]="!formEvent.valid">Valider
        <i class="glyphicon glyphicon-ok"></i></button>
    </div>
    </form>
    <div *ngIf="message" class="col-md-4 alert-succes">
      <p>{{message}}</p>
    </div>
    <div class="alert-info col-md-4" *ngIf="submitting && message === undefined">
      <span class="fa fa-spinner fa-fw"></span> Enregistrement....
    </div>
    <div class="alert-info col-md-4" *ngIf="deleting">
      <span class="fa fa-spinner fa-fw"></span> Suppression......
    </div>
</card>


