
<!--END En-tete -->
<!-- Article-->
<div class="container">
  <div class="col-lg-8">

    <div class="card">
      <br>
      <div *ngIf="message.received">
      <div style="margin-left: 15px">
        <h4>Envoyé par : {{message?.emailEmetteur}}</h4>
      </div>
      <div style="margin-left: 15px">
        <h4>Objet : {{message?.objet}}</h4>
      </div>
      </div>
      <div *ngIf="message.sent">
        <div style="margin-left: 15px">
          <h4>Envoyé à : {{message?.emailDestinataire}}</h4>
        </div>
        <div style="margin-left: 15px">
          <h4>Objet : {{message?.objet}}</h4>
        </div>
      </div>
      <br>
      <div  style="margin-left: 15px">{{message?.corps}}</div>
      <br><br>

      <div class="btn-wrap division" *ngIf="!repondre && message.received">
        <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="onRepondre()" style="background-color: #024457; margin-right: 5px">Répondre
          <i class="fa fa-send fa-fw"></i></button>
        <button class="btn  btn-with-icon" (click)="suppModal.open()" style="background-color: #024457">Supprimer</button>
        <br><br>
        <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
          <br><br><br>
          <div *ngIf="popped || deleting">
            <div class="text-capitalize text-danger text-center">
              <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
            </div>
            <div class="row">
              <div class="col-md-4 form-group"><button (click)="suppModal.close()" type="button" class="btn btn-secondary btn-group ">
                <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
              </div>
              <div class="col-md-4 form-group">
                <button (click)="onDeleteMessage(message)" type="button" class="btn btn-success btn-group">
                  <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
              </div>
            </div>

            <div *ngIf="deleting" class="alert-success">
              <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
            </div>
          </div>
        </ngx-smart-modal>
      </div>



      <div *ngIf="repondre">
        <form [formGroup]="formMessage">
        <div class="col-md-12">
          <textarea type="text" [(ngModel)]="m.corps" class="form-control" formControlName="corps" style="height: 200px"></textarea>  <br><br>
        </div>

        <button class="btn btn-with-icon" (click)="onSubmit()" style="background-color: #024457; margin-right: 5px">Envoyer <i class="fa fa-send fa-fw"></i></button>
        </form>
      </div>


    </div>
  </div>
</div>










