 <card cardTitle={{chaine}} style="font-family: Verdana">
    <form [formGroup]="formDept">
     <div class="row">
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         <label style="font-family: Verdana">Nom</label>
         <input type="text" [(ngModel)]="d.nom" class="form-control" formControlName="nom">
       </div>
       <div class="col-sm-offset-8 col-md-offset-8 col-lg-offset-8"></div>
     </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label style="font-family: Verdana">Description</label>
        <pell-editor [defaultContent]="d?.description" (content)="onContentChange($event)"></pell-editor>
      </div>
        <div id="text-output" class="col-md-6" ></div>
    </div>
      <div class="col-md-6" style="margin-top: 5px">
        <div class="card card-block">
          <div class="form-group">
            <label for="logo">Sélectionner les fichiers puis confirmer sur upload</label>
            <input class="col-md-6" type="file" id="logo" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileDropped($event)" multiple />
          </div>
          <div>
            <table class="table">
              <tbody>
              <tr *ngFor="let item of uploader?.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div>Queue progress:<progress-bar [percent]="uploader.progress" theme="success"></progress-bar></div>
            <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload</button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Annuler</button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Supprimer</button>
          </div>
        </div>
      </div>
      <div class="col-md-10"></div>
      <div class="form-group col-md-4">
        <button class="btn-success btn" style="font-family: Verdana" (click)="onSubmit()" [disabled]="!formDept.valid || submittingForm">Valider <i class="glyphicon glyphicon-ok"></i></button>
      </div>
      <div *ngIf="message" class="alert-success col-md-4">
        <p style="font-family: Verdana">{{message}}</p>
      </div>
    </form>
   <div class="alert-info col-md-4" *ngIf="submittingForm">
     <span class="fa fa-spinner fa-fw"></span> Enregistrement....
   </div>
  </card>
