<div class="row">
  <div class="col-md-8">
    <card cardTitle="Liste des départements">
      <div class="row" style="margin: 50px">

        <div class="col-md-6">
          <div class="pull-left">
            <button type="button" class="btn btn-with-icon" style="background-color: #024457; margin-right: 5px" (click)="onAddDept()">
              <i class="fa fa-plus-circle fa-fw"></i> Nouveau</button>
          </div>
        </div>

        <div class="search-group  col-md-6 pull-right">
          <input type="text" class="search-input" placeholder="Rechercher"  [(ngModel)]="term0">
          <button class="search-btn">
            <i class="fa fa-search fa-fw"></i>
          </button>
        </div>


      </div>
      <table class="responstable">
        <thead>
        <tr>
          <th>#</th>
          <th>Nom </th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <p *ngIf="gettingDepts" style="text-align: center"> <span class="fa fa-spinner fa-fw"></span> Chargement....</p>
          <tr *ngFor="let dept of depts | filter: term0;let index = index">
            <td>{{index + 1}}</td>
            <td>{{dept?.nom}}</td>
            <td>
              <span >
                <div class="btn-wrap division">
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #024457; margin-right: 5px">Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a (click)="onSelect(dept)"><i class="fa fa-eye fa-fw"></i>Voir département</a>
                      </li>
                      <li>
                        <a (click)="suppModal.open()"><i class="fa fa-minus-circle fa-fw"></i>Supprimer</a>
                        <!--<modal #seventhModal (onClose)="onClose()">
                          <modal-header>
                            <h3 class="text-danger">Etes-vous sur de vouloir supprimer?</h3>
                          </modal-header>
                          <modal-content>ffffff</modal-content>
                          <modal-footer>
                            <button class="btn btn-primary" (click)="closeModal(seventhModal)">Annuler</button>
                            <button class="btn btn-primary" (click)="onDeleteDept(dept)">Confirmer</button>
                          </modal-footer>
                        </modal>-->
                      </li>
                    </ul>
                  </div>
                </div>
              </span>
            </td>
            <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
              <br><br><br>
              <div *ngIf="popped">
                <div class="text-capitalize text-danger text-center">
                  <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group"><button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                    <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                  </div>
                  <div class="col-md-4 form-group">
                    <button (click)="onDeleteDept(dept)" type="button" class="btn btn-success btn-group">
                      <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                  </div>
                </div>

                <div *ngIf="deleting" class="alert-success">
                  <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                </div>
              </div>
            </ngx-smart-modal>
          </tr>
        </tbody>
        <br><br>
      </table>
    </card>
  </div>
  <div *ngIf="alerte" class="alert-success">
    <p>{{alerte}}</p>
  </div>
</div>
