
<!--END En-tete -->
<!-- Article-->
<div class="container">
  <div class="col-lg-8">
    <div id="titre">
      <h2>{{article?.titre}}</h2>
    </div>
    <div id="auteur">
      <h4>By Am Ndongo</h4>
    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{article?.dateCreation}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" src="../../../assets/images/slider_2.jpg" alt="Card image cap">
      <div class="card-body">
        <BR>
        {{article?.corps}}
        <br><br><br>
        <div  *ngFor="let a of articles; let i = index">
        <a href="{{article?.documents[i]?.url}}">Pièce jointe {{i}}</a>
        </div>
      </div>
    </div>
  </div>

</div>



<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<button>Publier</button>
