<div class="card card-block login-card">
  <h3 class="form-label">Bienvenue</h3>
  <span class="form-label">Veuillez vous connecter pour accéder à l'espace administrateur</span>
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label>Se connecter en tant que:</label>
        <!--<span class="input-group-addon addon-left">
          <i class="fa fa-adjust fa-fw"></i>
        </span>-->
        <select name="role"  required  class="form-control" [(ngModel)]="user.role" formControlName="role" (change)="onRoleChange()">
          <option *ngFor="let role of roles" [ngValue]="role.valeur">
            {{ role.libelle }}
          </option>
        </select>
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
          Sélectionnez un role!
        </div><!--
          <select required  class="form-control" formcontrolname="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" >
            <option value="admin" selected="true">Administrateur</option>
            <option value="article">Gestionnaire des articles</option>
            <option value="events">Gestionnaire des évènements</option>
            <option value="annonce">Gestionnaire des annonces</option>
            <option value="ecosysteme">Gestionnaire des écosystèmes</option>
          </select>-->
      </div>
      <div class="input-group">
      <span class="input-group-addon addon-left" id="username">
        <i class="fa fa-user fa-fw"></i>
      </span>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        [(ngModel)] = "user.username" placeholder="Nom d'utilisateur"/>
      </div>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="alert-danger">Champ nom d'utilisateur requis!</div>
      </div>
      <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
               [(ngModel)] = "user.password" placeholder="Mot de passe"  />
      </div>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" class="alert-danger">Mot de passe requis!</div>
      </div>
      <button class="btn btn-lg btn-primary" [disabled]="loginForm.invalid">Login</button>
      <div *ngIf="mess" class="alert-success">
        <div>{{mess}}</div>
      </div>
      <div *ngIf="messError" class="alert-danger">
        <div>{{messError}}</div>
      </div>
    </form>
  </div>
</div>
