<card cardTitle="Ajout d'un commentaire">
  <form [formGroup]="formCom">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="corps">Corps du commentaire</label>
        <textarea  id="corps" formControlName="corps" [(ngModel)]="commentaire.corps" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="col-md-6 col-md-offset-6"></div>
    </div>
    <div class="col-md-6 pull-right form-group">
      <button class="btn btn-success btn-with-icon" type="button" (click)="onValiderCom()" [disabled]="formCom.invalid">OK <i class="glyphicon glyphicon-ok-circle"></i></button>
    </div>
    <div class="alert-info col-md-4" *ngIf="adding">
      <span class="fa fa-spinner fa-fw"></span> Enregistrement....
    </div>
  </form>
</card>
