<div class="container">
  <card cardTitle="{{titre}}">
    <form [formGroup]="formPart">
      <div class="row">
        <div class="col-md-6 col-lg-4 form-group">
          <label for="nom">Nom du Partenaire</label>
          <input type="text" [(ngModel)]="p.nom" class="form-control" formControlName="nom" id="nom">
        </div>
        <div class="col-md-6 col-lg-4 form-group">
          <label for="site">Site web</label>
          <input type="text" [(ngModel)]="p.siteWeb" class="form-control" formControlName="site" id="site">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="des">Descriptif partenariat</label>
          <pell-editor [defaultContent]="p.descriptionPartenariat" (content)="onContentChangePart($event)" id="des"></pell-editor>
        </div>
        <div class="col-md-4" style="margin-top: 5px">
          <div class="card card-block">
            <div class="form-group">
              <label for="logo">Sélectionner le logo puis confirmer sur upload</label>
              <input class="col-md-6" type="file" id="logo" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileDropped($event)" multiple />
            </div>
            <div>
              <table class="table">
                <tbody>
                <tr *ngFor="let item of uploader?.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td><!--
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-xs"  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload</button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove</button>
                  </td>-->
                </tr>
                </tbody>
              </table>
            </div>
            <div>
              <div>Queue progress:<progress-bar [percent]="uploader.progress" theme="success"></progress-bar></div>
              <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload</button>
              <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Annuler</button>
              <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Supprimer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="button" (click)="onSubmit()" [disabled]="!formPart.valid || submittingForm">Valider  <span class="glyphicon glyphicon-ok">
        </span></button>
      </div>
      <div *ngIf="message" class="alert-success col-md-4">
        <p>{{message}}</p>
      </div>
    </form>
    <div class="alert-info col-md-4" *ngIf="submittingForm">
      <span class="fa fa-spinner fa-fw"></span> Enregistrement....
    </div>
  </card>
</div>
