<card>
  <h1>Articles <span></span> : <span>La liste des appels d'offres</span></h1>

  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-wrap division pull-left">
        <button type="button" class="btn  btn-with-icon"  (click)="goToEditor()" style="background-color: #024457; margin-right: 5px">
          <i class="fa fa-plus-circle fa-fw"></i>Ajouter un appel</button>
      </div>
    </div>
    <div class="col-md-6 search-group pull-right">
      <input type="text" [(ngModel)]="term" placeholder="Rechercher" class="search-input">
      <button class="search-btn"><i class="fa fa-search fa-fw"></i></button>
    </div>
  </div>

  <table class="responstable">

    <tr>
      <th>#</th>
      <th>  LE TITRE DE L'ANNONCE </th>
      <th>Créé Le</th>
      <th>Publié Le</th>
      <th>ETAT</th>
      <th>ACTION</th>
    </tr>
    <tr *ngIf="gettingAppels" style="text-align: center"><span class="fa fa-spinner fa-fw"></span> Chargement en cours....</tr>
    <tr *ngFor="let a of appelDOffres | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} | filter:term; let i = index" >
      <td>{{i + 1}}</td>
      <td>{{a?.titre}}</td>
      <td>{{a?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</td>
      <td>{{a?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}</td>
      <td> {{getState(a)}}</td>
      <td>
            <span >

              <div class="btn-wrap division">
          <div class="btn-group">
            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #024457; margin-right: 5px">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a (click)="onVoirAppel(a)"><i class="fa fa-eye fa-fw"></i> Voir </a>
              </li>

              <li>
                <a (click)="suppModal.open()" ><i class="fa fa-minus-circle"></i> Supprimer </a>
              </li>

            </ul>
          </div>
              </div>

            </span>
      </td>
      <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
        <br><br><br>
        <div *ngIf="popped || deleting">
          <div class="text-capitalize text-danger text-center">
            <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
          </div>
          <div class="row">
            <div class="col-md-4 form-group"><button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
              <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
            </div>
            <div class="col-md-4 form-group">
              <button (click)="onDeleteAppel(a)" type="button" class="btn btn-success btn-group">
                <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
            </div>
          </div>

          <div *ngIf="deleting" class="alert-success">
            <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
          </div>
        </div>
      </ngx-smart-modal>

    </tr>



    <br><br><br><br>

  </table>

  <form class="pagination-wrapper">
    <div class="form-group pages">
      <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                           screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    <div class="form-group options pages">
      <div class="input-group input-group-sm">
        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getAppelDOffres()">
          <option>1</option>
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
          <option>200</option>
        </select>
        <span class="input-group-addon addon-right">Par Page</span>
      </div>
    </div>
  </form>

</card>
