<style>
  .btn {border-radius: 50px}
</style>
<div class="container">
  <card cardTitle="{{sp?.pk?.poste?.nom}}" [style]="'{max-width: 100px; max-height: 150px}'" class="col-md-5 col-sm-6">
    <div class="">
      <h4>Documents à fournir</h4>
      <div class="well">
        <p *ngIf="sp?.documentAFournirs?.length === 0">Aucun document pour l'instant</p>
        <ul class="list-group" *ngFor="let doc of sp?.documentAFournirs">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <h5><strong>{{doc?.nom}}</strong></h5>
              </div>
              <div class="pull-right form-group">
                <button class="btn btn-danger" type="button" (click)="onSuppDoc(doc)">Supprimer <i class="fa fa-minus-circle fa-fw"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div><!--
      <div class="pull-left form-group">
        <button class="btn btn-warning" type="button" (click)="addDocument=true" [hidden]="addDocument">
          Ajouter document <i class="fa fa-plus-circle fa-fw"></i></button>
      </div>-->
      <div [formGroup]="formDocument">
      <div formArrayName="docs" *ngFor="let doc1 of formDocument.get('docs').controls;let i=index;">
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="addDocButtonClick(i)"
            [disabled]="addDocument && formDocument.get('docs').invalid">
            <i class="fa fa-plus-circle fa-fw"></i>Ajouter document</button>
        </div>
        <div [hidden]="!addDocument">
          <h4>Document</h4>
          <div [formGroupName]="i">
            <div class="col-md-6 col-sm-6 form-group">
              <label for="nomDoc">Nom du document</label>
              <input type="text" id="nomDoc" class="form-control" formControlName="nom" [(ngModel)]="nomDoc">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
              <label for="descDoc">Description</label>
              <textarea type="text" id="descDoc" class="form-control" formControlName="description" [(ngModel)]="descriptionDoc"></textarea>
            </div>
            <div class="col-md-4 form-group"><button (click)="onValiderDoc(nomDoc,descriptionDoc)" type="button" class="btn btn-success"
               [disabled]="formDocument.get('docs').invalid"><i class="glyphicon glyphicon-ok-circle"></i> Ok</button>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
  </card>
</div>
