<div class="container" [hidden]="modifPart">
  <div  class="col-lg-8 col-md-8">
    <div id="titre" class="jumbotron jumbotron-cool" style="margin-bottom: 2px">
      <div class="row">
        <div class="col-lg-4 col-md-4"><img class="card-img-top img-responsive img-circle" src="{{partenaire?.media?.url}}"></div>
      </div>
      <h2>Partenariat entre {{partenaire?.nom}} & L' ISEP</h2>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="jumbotron jumbotron-cool">
          <h3><strong>Descriptif partenariat</strong></h3>
          <p id="text" style="text-align: justify; font-family: 'Comic Sans MS'"></p>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-warning btn-with-icon" (click)="modifPart=true" style="margin: 25px; border-radius: 50px">
          <span class="fa fa-edit fa-fw"></span> Modifier</button>
      </div>
      <section>
          <h2>ACTIVITES AVEC LE PARTENAIRE</h2>
          <br>
            <div class="row">
              <div class="card-group">
                <ng-container *ngFor="let a of articles | slice:0:4 ; let i=index ">
                  <a  href="pages/ecosystemes/show-article/{{a?.id}}" style="text-decoration: none">
                    <div class="card col-lg-2 col-md-2">
                      <img class="card-img-top img-responsive" src="{{a?.mediaArticles[0]?.pk?.media?.url}}" alt="Card image cap" style="max-height: 150px;max-width: 120px">
                      <div class="card-body">
                        <h5 class="card-title">{{a?.titre}}</h5>
                        <p class="card-text"><small class="text-muted"> <span><i class="glyphicon glyphicon-calendar"></i>{{a?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</span></small></p>
                      </div>
                    </div>
                  </a>
                </ng-container>
              </div>
            </div>
      </section>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="list-group" id="list-tab" role="tablist" style="background-color: #5e5e5e" data-toggle="">
      <a class="list-group-item list-group-item-action active" data-toggle="list"
         href="#" role="tab" aria-controls="home" style="background-color: #0b0b0b;color: whitesmoke">
        Les Partenaires de L'ISEP</a>
      <ng-container *ngFor="let p of partenaires | slice:0:10 ; let i=index ">
        <a class="list-group-item list-group-item-action" data-toggle="list" (click)="onVoirAutrePart(p)" role="tab" aria-controls="profile">
          <img src="{{p?.media?.url}}" style="max-width: 50px; max-height: 50px" class="img-circle img-responsive"> {{p?.nom}}</a>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="modifPart" class="container"><app-editor-part [p]="partenaire" [descriptif]="partenaire?.descriptionPartenariat">
</app-editor-part></div>
