<div class="list-group" id="list-tab" role="tablist" style="background-color: #5e5e5e" data-toggle="">
  <a class="list-group-item list-group-item-action active" data-toggle="list"
     href="#" role="tab" aria-controls="home" style="background-color: #024457;color: whitesmoke">
    Sessions en cours</a>
  <ng-container *ngFor="let s of sessionsEnCours | slice:0:10 ; let i=index ">
    <a class="list-group-item list-group-item-action" data-toggle="list" (click)="onVoirSessionEC(s)" role="tab"
       aria-controls="profile">
      <div>
        <p *ngIf="sessionsEnCours?.length ===0">Pas de sessions pour l'instant</p>
       <p>{{s?.titre}}</p>
      </div>
    </a>
  </ng-container>
</div>
