
<!--END En-tete -->
<!-- Article-->
  <div class="col-lg-8" *ngIf="!modifEvent">
    <div id="titre">
      <h3>{{event?.titre}}</h3>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{event?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>

    </div><br><br>
    <div class="card">
      <br><br>
      <span class="glyphicon glyphicon-calendar"></span><i><h4> Du: {{event?.dateDebut | date: 'dd/MM/yyyy à HH:mm'}} au: {{event?.dateFin | date: 'dd/MM/yyyy à HH:mm'}}</h4></i>
      <br><br>
      <img class="card-img-top img-responsive" style="width: 100%" src="{{event?.images[0]?.url}}" >
      <div class="card-body">
        <BR><br>
        <div id="texte" style="margin-left: 15px"></div>
        <br><br>
        <div style="margin-left: 15px">
        <div *ngIf="event?.videos && event?.videos.length > 1">

          <div *ngFor="let v of event?.videos; let i = index">
            <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
          </div>
        </div>
        <div *ngIf="event?.documents && event?.documents.length > 0">
          <p>Les pièces jointes de cet article:</p>
          <div *ngFor="let d of event?.documents">
            <a href="{{d?.url}}">{{d?.nom}}</a><br>
          </div>
        </div>
        <div *ngIf="event?.images && event?.images.length > 1">
          <div *ngFor="let i of event?.images">
            <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap"><br>
          </div>
        </div>
        <br><br>
        <div class="row" *ngIf="!event?.state">
          <div class=" col-md-4 btn-wrap division">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="modifEvent=true" style="background-color: #024457; margin-right: 5px">Modifier
              <i class="fa fa-edit fa-fw"></i></button>
            <br><br>
          </div>
          <div class="col-md-4 btn-wrap division">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="onPublier(event)" style="background-color: #024457; margin-right: 5px">Publier l'événement
              <i class="fa fa-send fa-fw"></i></button>
            <br><br>
          </div>
          <div class="col-md-4 btn-wrap division">
            <button type="button" class="btn  btn-with-icon"  style="margin: 25px" (click)="onPublerAfter()" style="background-color: #024457; margin-right: 5px">Publier ultérieurement
              <i class="fa fa-send-o fa-fw"></i></button>
            <br><br>
          </div>
        </div>
        </div>
        <div *ngIf="publierAfter">
          <div class="col-md-6">
            <label>Date de Publication (*)</label>
            <owl-date-time
              [placeHolder]="'Date de Publication (*)'"
              [dateFormat]="'DD-MM-YYYY'"
              [inputId]="'datePublication'"
              [locale]="fr"
              [(ngModel)]="event.datePublication">

            </owl-date-time>
          </div>
          <br><br><br><button type="button" class="btn  btn-with-icon"  (click)="onValider(event)" style="background-color: #024457; margin-right: 5px">Valider</button>
        </div>
      </div>
    </div>
  </div>

<app-editor-events *ngIf="modifEvent" [e]="event" [pellEvent]="event?.corps"></app-editor-events>








