<div class="container" *ngIf="!modifArt">
  <div class="col-lg-8">
    <div id="titre">
      <h3>{{article?.titre}}</h3>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{article?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 100%" src="{{article?.images[0]?.url}}" >
      <div class="card-body">
      <BR><br>
      <div id="texte" style="margin-left: 15px"></div>
      <br><br>
      <div style="margin-left: 15px">
        <div *ngIf="article?.videos && article?.videos.length > 1">

          <div *ngFor="let v of article?.videos; let i = index">
            <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
          </div>
        </div>
        <div *ngIf="article?.documents && article?.documents.length > 0">
          <p>Les pièces jointes de cet article:</p>
          <div *ngFor="let d of article?.documents">
            <a href="{{d?.url}}">{{d?.nom}}</a><br>
          </div>
        </div>
        <div *ngIf="article?.images && article?.images.length > 0">
          <div *ngFor="let i of article?.images">
            <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap" *ngIf="i !== article.images[0]"><br>
          </div>
        </div>
        <br><br>
      </div>
      <div class="row" *ngIf="!article.state">
        <div class="col-md-4 form-group">
          <button type="button" class="btn btn-warning btn-with-icon"  style="margin: 25px; border-radius: 50px" (click)="modifArt=true">
            <i class="fa fa-edit fa-fw"></i>Modifier</button>
        </div>
        <div class="col-md-4 form-group">
          <button type="button" class="btn btn-warning btn-with-icon"  style="margin: 25px; border-radius: 50px" (click)="onPublier(article)">
            <i class="fa fa-send-o fa-fw"></i>Publier maintenant</button>
        </div>
        <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-with-icon btn-warning" style="margin: 25px; border-radius: 50px"  (click)="onPublierAfter()">
              <i class="fa fa-send fa-fw"></i>Publier ultérieurement</button>
        </div>
      </div>
        <div *ngIf="publierAfter">
          <div class="col-md-6">
            <label>Date de Publication (*)</label>
            <owl-date-time
              [placeHolder]="'Date de Publication (*)'"
              [dateFormat]="'DD-MM-YYYY'"
              [inputId]="'datePublication'"
              [locale]="fr"
              [(ngModel)]="article.datePublication">

            </owl-date-time>
          </div>
          <br><br><br><button type="button" class="btn btn-success btn-with-icon"  (click)="onValider(article)" style="border-radius: 50px">Valider
          <span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
  </div>
</div>
</div>
<div class="container" *ngIf="modifArt">
  <app-editor-article-eco [a]="article" [defaultContentAr]="article?.corps"></app-editor-article-eco>
</div>










