<div class="container" *ngIf="!modifAr">
  <div class="col-lg-8">
    <div id="titre">
      <h3>{{article?.titre}}</h3>
    </div>
    <div id="auteur">
      <h4>By   UserName</h4>
    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon glyphicon-calendar"></span><i>{{article?.dateCreation | date: 'short'}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 100%" src="{{article?.mediaArticles[0]?.pk.media.url}}" alt="Card image cap">
      <div class="card-body">
        <BR><br>
        <div id="texte"></div>
        <br><br>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning btn-with-icon"  style="margin: 25px" (click)="onPublier(article)">Publier l'artcle
            <i class="fa fa-exclamation-triangle fa-fw"></i></button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning btn-with-icon"  style="margin: 25px" (click)="onModifierArticle(article)">Modifier
            <i class="fa fa-edit fa-fw"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-editor-article1 *ngIf="modifAr" [a]="article" [defaultContentAr]="article?.corps"></app-editor-article1>
</div>
