<div class="col-md-12">
  <div class="col-md-4">

    <button type="button" class="btn btn-primary">Nouveau message</button>
    <br><br>
    <ul class="list-group">
      <a href="#"><li class="list-group-item d-flex justify-content-between align-items-center">
        Boite de réception
        <span class="badge badge-primary badge-pill">14</span>
      </li></a>
      <a href="#"><li class="list-group-item d-flex justify-content-between align-items-center">
        Messages envoyés
        <span class="badge badge-primary badge-pill">2</span>
      </li></a>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Brouillon
        <span class="badge badge-primary badge-pill"></span>
      </li>
    </ul>

  </div>
<div class="col-md-8">
  <card cardTitle="Messages Reçus">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Envoyé par</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of messages;let index = index" href="#">
        <td>{{index}}</td>
        <td>{{item?.emailEmetteur}}</td>
        <td>{{item?.dateEvoi}}</td>
        <td><button type="button" class="btn  btn-with-icon"  style="background-color: #024457; margin-right: 5px">Ouvrir</button></td>
      </tr>
      </tbody>
    </table>
  </card>
</div>
</div>
