<div class="container" [hidden]="modif">
  <div class="col-lg-8" style="font-family: Verdana">
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center"><strong>{{fil?.nom}}</strong></h2>
      <div>
        <div [innerHtml]="fil?.presentation"></div>
      </div>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Objectifs <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <div [innerHtml]="fil?.objectif"></div>
          </div>
        </div>
      </div>
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Conditions d'admission <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse2" class="panel-collapse collapse ">
          <div class="panel-body">
            <div [innerHtml]="fil?.conditionAdmission"></div>
          </div>
        </div>
      </div>
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Débouchés <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse3" class="panel-collapse collapse ">
          <div class="panel-body">
            <div [innerHtml]="fil?.debouches"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-wrap division form-group col-md-4">
        <button type="button" class="btn btn-with-icon" style="margin: 25px" (click)="onModifier(fil)">
          <i class="fa fa-edit fa-fw"></i>Modifier</button>
      </div>
      <div class="btn-wrap division form-group col-md-4">
        <button type="button" class="btn btn-with-icon" style="margin: 25px" (click)="suppModalD.open()">
          <i class="fa fa-minus-circle fa-fw"></i>Supprimer</button>
      </div>
    </div>
    <ngx-smart-modal #suppModalD target="#modal_root" identifier="suppModalD" (onOpen)="popped=true" (onClose)="popped=false" >
      <br><br><br>
      <div *ngIf="popped">
        <div class="text-capitalize text-danger text-center">
          <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
        </div>
        <div class="row">
          <div class="col-md-4 form-group"><button (click)="suppModalD.close()" type="button" class="btn btn-danger btn-group ">
            <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
          </div>
          <div class="col-md-4 form-group">
            <button (click)="onSupp(fil)" type="button" class="btn btn-success btn-group">
              <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
          </div>
        </div>

        <div *ngIf="deletingFil" class="alert-success">
          <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
        </div>
      </div>
    </ngx-smart-modal>
    <div *ngIf="mess" class="col-md-4 alert-success">
      <p>{{mess}}</p>
    </div>
  </div>
</div>
<div class="col-md-10">
  <app-ajout-filiere [f]="fil" [d]="dept" *ngIf="modif" [contentDeb]="fil?.debouches" [contentCond]="fil?.conditionAdmission"
                     [contentObj]="fil?.objectif" [contentPres]="fil?.presentation" (backFil)="feedBackFil($event)"></app-ajout-filiere>
</div>
