<h3>NOUVEL MESSAGE</h3>
<form [formGroup]="formMessage">

  <card cardTitle="Le corps">
    <div class="row">
      <div class="col-md-6">
        <textarea type="text" [(ngModel)]="m.corps" class="form-control" formControlName="corps" style="height: 500px"></textarea>
      </div>
      <div class="col-md-6">
        <div class="card card-block">

          <div>
            <label>Destinataire</label>
            <input type="text" [(ngModel)]="m.emailDestinataire" class="form-control" formControlName="emailDestinataire">
          </div>
          <div>
            <label>Objet</label>
            <input type="text" [(ngModel)]="m.objet" class="form-control" formControlName="objet">
          </div>

          <div >
            <div class="row">
              <h4 class="col-md-12">Sélectionner les fichiers puis confirmer en appuyant Upload All</h4>
              <div class="col-md-12">
                <input class="col-md-6" type="file" ng2FileSelect [uploader]="uploader"
                       accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt" (onFileSelected)="fileDropped($event)" multiple />
              </div>
              <div class="col-md-12">
                <h3>Fichiers Choisis</h3>
                <p>Nombre de Fichiers: {{ uploader?.queue?.length }}</p>
                <table class="table">
                  <thead>
                  <tr>
                    <th width="45%">Name</th>
                    <th WIDTH="10%">Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      <strong>{{ item?.file?.name }}</strong>
                    </td>
                    <td class="text-center">
            <span *ngIf="item.isSuccess">
              <i class="glyphicon glyphicon-ok"></i>
            </span>
                      <span *ngIf="item.isCancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </span>
                      <span *ngIf="item.isError">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs"  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div>
                  <div>
                    Queue progress:
                    <progress-bar [percent]="uploader.progress" theme="success"></progress-bar>
                  </div>
                  <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>





      </div>
    </div>
  </card>

  <div class="form-group">
    <button class="btn-success btn-xs" (click)="onSubmit()" >Envoyer</button>
  </div>
</form>
