@import "../../shared/theme/conf";
.pagination-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .input-group {
    width: 150px;
    .input-group-addon {
      @extend .bg-primary;
      color: $white;
      border: none;
    }
  }
  .form-group {
    height: auto;
    margin: 0;
    padding: 0;
  }
}

.my-pagination /deep/ .ngx-pagination {
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  font-size: $sm-text;
  padding: 0;
  a,
  .current {
    min-width: 30px;
    text-decoration: none;
    height: 35px;
    text-align: center;
    line-height: 33px;
    margin: 0;
    color: $fonts-color;
    &:last-child {
      border: none;
    }
  }
  a:hover,
  .current {
    min-width: 30px;
    @extend .bg-primary;
    color: $white;
  }
  .disabled {
    color: rgba($fonts-color, .4);
    cursor: not-allowed;
  }
}
.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.another-file-over-class {
  border: dotted 3px green;
}
