<form [formGroup]="formArticle">
  <div class="col-md-6">
    <label>Titre</label>
    <input type="text" [(ngModel)]="a.titre" class="form-control" formControlName="titre">
  </div>




    Sélectionner une image pour l'article en question
    <input type="file" ng2FileSelect   />
  <br/><br/>




<card cardTitle="Le corps">
  <div class="row">
    <div class="col-md-6">
      <pell-editor [defaultContent]="a.corps" (content)="onContentChange($event)"></pell-editor>
    </div>
    <div class="col-md-6">



      <div class="card card-block">
      <div class="row">
        <h3 class="col-md-12">Select Tags</h3>
        <div class="col-md-6">
          <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                     (removed)="removed($event)" placeholder="No city selected"></ng-select>
        </div>
        <div class="col-md-6">
          <pre>{{itemsToString(value)}}</pre>
        </div>
      </div>
      </div>



      <div id="text-output"></div>
    </div>
  </div>
</card>


  <div class="form-group">
    <button class="btn-success btn-xs" (click)="onSubmit()" [disabled]="!formArticle.valid">Valider</button>
  </div>
  <div *ngIf="message" class="alert-danger">
    <p>{{message}}</p>
  </div>
</form>
