.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.another-file-over-class {
  border: dotted 3px green;
}
.btn, .form-control {
  border-radius: 50px;
}
.fa-spinner {
  animation: rotate 1s linear infinite;
}

