<card>
  <h1><span>LISTE DES POSTES</span></h1>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-wrap division pull-left">
        <button type="button" class="btn  btn-with-icon"  (click)="postemodal.open()" style="background-color: #024457; margin-right: 5px">
          <i class="fa fa-plus-circle fa-fw"></i>Nouveau poste</button>
      </div>
    </div>
    <div class="col-md-6 search-group pull-right">
      <input type="text" class="search-input" [(ngModel)]="term" placeholder="Rechercher">
      <button class="search-btn"><i class="fa fa-search fa-fw"></i></button>
    </div>
  </div>
  <ngx-smart-modal #postemodal target="#modal_root" identifier="postemodal" (onOpen)="popped=true" (onClose)="popped=false" >
    <br><br><br>
    <div *ngIf="popped">
      <card cardTitle="Ajout d'un nouveau poste">
        <form [formGroup]="formPoste">
          <div class="row">
            <div class="col-md-6 col-sm-6 form-group">
              <label for="nom">Nom du poste</label>
              <input type="text" id="nom" class="form-control" formControlName="poste" [(ngModel)]="p.nom">
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6"></div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 pull-left"></div>
            <div class="col-md-4 form-group"><button (click)="postemodal.close()" type="button" class="btn btn-danger btn-group ">
              <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
            </div>
            <div class="form-group">
              <button class="btn btn-success" type="button" (click)="onValiderPoste()" [disabled]="formPoste.invalid">Valider <i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
        </form>
        <div class="alert-info col-md-4" *ngIf="submittingPoste && message === undefined">
          <span class="fa fa-spinner fa-fw"></span> Enregistrement....
        </div>
        <div *ngIf="message" class="alert-success col-md-4">
          <p>{{message}}</p>
        </div>
      </card>
    </div>
  </ngx-smart-modal>
  <table class="responstable">

    <tr>
      <th>#</th>
      <th>NOM DU POSTE</th>
      <th>ACTION</th>
    </tr>
    <tr *ngIf="gettingPostes" style="text-align: center"><span class="fa fa-spinner fa-fw"></span> Chargement en cours....</tr>
    <tr *ngFor="let p of postes | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} | filter:term; let i = index" >
      <td>{{i + 1}}</td>
      <td>{{p?.nom}}</td>
      <td>
        <span>
          <div class="btn-wrap division">
            <div class="btn-group">
              <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" (click)="suppModal.open()"
              aria-expanded="false" style="background-color: #024457; margin-right: 5px">Supprimer <span class="fa fa-minus-circle fa-fw"></span>
              </button>
            </div>
          </div>
        </span>
      </td>
      <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
        <br><br><br>
        <div *ngIf="popped || deleting">
          <div class="text-capitalize text-danger text-center">
            <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2"></div>
            <div class="col-md-2 form-group">
              <button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
            </div>
            <div class="col-md-2 form-group">
              <button (click)="onSuppPoste(p)" type="button" class="btn btn-success btn-group">
                <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
            </div>
          </div>
          <div *ngIf="deleting" class="alert-success">
            <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
          </div>
          <div *ngIf="message" class="alert-success">
            <p>{{message}}</p>
          </div>
        </div>
      </ngx-smart-modal>
    </tr>
    <br><br><br><br>
  </table>
  <form class="pagination-wrapper">
    <div class="form-group pages">
      <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                           screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    <div class="form-group options pages">
      <div class="input-group input-group-sm">
        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getPostes()">
          <option>1</option>
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
          <option>200</option>
        </select>
        <span class="input-group-addon addon-right">Par Page</span>
      </div>
    </div>
  </form>

</card>
