<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<div class="mail-box">
<div class="col-md-12">

  <div class="col-md-4">
    <aside class="sm-side">
    <div class="user-head">
      <a class="inbox-avatar" href="javascript:;">
        <img  width="64" hieght="60" src="../../../../assets/images/avatar.jpg">
      </a>
      <div class="user-name">
        <h5><a href="#">Messagerie ISEP de Diamniadio</a></h5>
        <span><a href="#">Isepdd2018@gmail.com</a></span>
      </div>
      <a class="mail-dropdown pull-right" href="javascript:;">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>

      <div class="inbox-body">
        <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose">
         <span class="fa fa-plus-circle fa-fw"></span> Nouveau Message
        </a>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Votre message</h4>
              </div>
              <div class="modal-body">
                <form role="form" class="form-horizontal" [formGroup]="formMessage">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">A</label>
                    <div class="col-lg-10">
                      <input type="text" placeholder="" id="inputEmail1" [(ngModel)]="m.emailDestinataire" class="form-control" formControlName="emailDestinataire">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Objet</label>
                    <div class="col-lg-10">
                      <input type="text" placeholder="" id="inputPassword1" [(ngModel)]="m.objet" class="form-control" formControlName="objet">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                      <textarea rows="20" cols="30"  [(ngModel)]="m.corps" class="form-control" formControlName="corps"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">

                      <button class="btn btn-send" type="submit" (click)="onSubmit()" [disabled]="!formMessage.valid">Envoyer <i class="fa fa-send fa-fw"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>

    <ul class="list-group">
      <a href="pages/espace-admin/messagerie"><li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fa fa-inbox"></i>  Boite de réception
        <span class="badge badge-primary badge-pill">{{messagesNonLu.length}}</span>
      </li></a>
      <a href="pages/espace-admin/messages-sent"><li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fa fa-envelope-o"></i>  Messages envoyés
        <span class="badge badge-primary badge-pill">{{messagesSent.length}}</span>
      </li></a>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class=" fa fa-external-link"></i>  Brouillon
        <span class="badge badge-primary badge-pill"></span>
      </li>
    </ul>

    </aside>
  </div>
  <div class="col-md-8">
    <card cardTitle="Messages Reçus">
      <table class="table table-inbox table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Envoyé par</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of messagesNonLu;let index = index" (click)="ouvrirMessage(item)" class="alert-dismissable">
          <td><strong>{{index + 1}}</strong></td>
          <td><strong>{{item?.emailEmetteur}}</strong></td>
          <td><strong>{{item?.dateEnvoi | date: 'dd/MM/yyyy à HH:mm'}}</strong></td>
          <td><button type="button" class="btn  btn-with-icon"  style="background-color: #024457; margin-right: 5px" (click)="ouvrirMessage(item)"><span class="fa fa-eye fa-fw"></span> Ouvrir</button></td>
        </tr>
        <tr *ngFor="let item of messagesLu;let index = index" class="">
          <td>{{messagesNonLu.length + 1 + index}}</td>
          <td>{{item?.emailEmetteur}}</td>
          <td>{{item?.dateEnvoi | date: 'dd/MM/yyyy à HH:mm'}}</td>
          <td><button type="button" class="btn  btn-with-icon"  style="background-color: #024457; margin-right: 5px" (click)="ouvrirMessage(item)"><span class="fa fa-eye fa-fw"></span> Ouvrir</button></td>
        </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>
</div>


