<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">

      <card cardTitle="Session {{session?.titre}} du {{session?.dateDebut| date: 'dd/MM/yyyy'}} au {{session?.dateFin| date: 'dd/MM/yyyy'}}">
        <div class="well" style="text-align: center; background: #D9E4E6"><h3>{{session?.description}}</h3></div>
        <div class="col-md-12">
          <tabset id="tabs3" theme="justified">
            <tab-content for="tabs3" tabTitle="Postes concernes" [active]="true">
              <card cardTitle="Liste des postes">
                <div class="row" *ngIf="session?.sessionPostes?.length === 0">
                  <div class="well col-md-4" style="text-align: center; background: #D9E4E6">
                    <h5>Pas de poste pour l'instant</h5></div>
                  <div class="col-sm-offset-8 col-md-8"></div>
                </div>
                <ul class="list-group" *ngFor="let s of session?.sessionPostes | paginate: { id: 'pager1',
          itemsPerPage: pageSize, currentPage: pageNumber}">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2"><h4><strong>{{s?.pk?.poste?.nom}}</strong></h4></div>
                      <div class="col-md-6 pull-right">
                        <div class="row">
                          <div class="col-md-4 form-group">
                            <button type="button" class="btn btn-primary" (click)="showModal.open()">
                              Gérer les documents à fournir <i class="fa fa-book fa-fw"></i>
                            </button>
                          </div>
                          <div class="form-group pull-right">
                            <button type="button" class="btn btn-danger" (click)="suppModal.open()">
                              <i class="fa fa-minus-circle fa-fw"></i>Supprimer
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <ngx-smart-modal #showModal target="#modal_root" identifier="showModal" (onOpen)="popped=true" (onClose)="popped=false" >
                    <br><br><br>
                    <div *ngIf="popped">
                      <app-poste-detail [sp]="s"></app-poste-detail>
                    </div>
                  </ngx-smart-modal>
                  <ngx-smart-modal #suppModal target="#modal_root" identifier="suppModal" (onOpen)="popped=true" (onClose)="popped=false" >
                    <br><br><br>
                    <div *ngIf="popped">
                      <div class="text-capitalize text-danger text-center">
                        <p><i class="fa fa-exclamation-circle fa-fw" style="font-size: xx-large"></i> Etes -vous sur de vouloir supprimer?</p>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-md-offset-2"></div>
                        <div class="col-md-2 form-group">
                          <button (click)="suppModal.close()" type="button" class="btn btn-danger btn-group ">
                            <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                        </div>
                        <div class="col-md-2 form-group">
                          <button (click)="onDeleteSessionPoste(s)" type="button" class="btn btn-success btn-group">
                            <i class="glyphicon glyphicon-ok-sign"></i> Confirmer</button>
                        </div>
                      </div>
                      <div *ngIf="deleting && message === undefined" class="alert-success">
                        <span class="fa fa-spinner fa-fw"></span> Suppression en cours....
                      </div>
                      <div *ngIf="message" class="alert-success">
                        <p>{{message}}</p>
                      </div>
                    </div>
                  </ngx-smart-modal>
                </ul>
                <div class="row">
                  <div class="col-md-2 form-group">
                    <button class="btn btn-primary" type="button" (click)="postemodal.open()">
                      <i class="fa fa-plus-circle fa-fw"></i> Ajouter poste</button>
                  </div>
                  <div class="form-group col-md-6 pull-right">
                    <form [formGroup]="formSelectPoste">
                      <div class="row">
                        <div class="col-md-6">
                          <p-multiSelect [options]="posteTemps" [panelStyle]="{minWidth:'12em'}" [(ngModel)]="postesSelected"
                                         defaultLabel="Choisissez les postes concernés" formControlName="postes"></p-multiSelect>
                        </div>
                        <div>
                          <p-footer><button (click)="onPostesOK()" class="btn btn-success" [disabled]="postesSelected.length === 0">ok
                            <i class="glyphicon glyphicon-ok"></i></button></p-footer>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <ngx-smart-modal #postemodal target="#modal_root" identifier="postemodal" (onOpen)="popped=true" (onClose)="popped=false" >
                  <br><br><br>
                  <div *ngIf="popped">
                    <card cardTitle="Ajout d'un nouveau poste">
                      <form [formGroup]="formPoste">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 form-group">
                            <label for="nom">Nom du poste</label>
                            <input type="text" id="nom" class="form-control" formControlName="poste" [(ngModel)]="p.nom">
                          </div>
                          <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 col-md-offset-2 pull-left"></div>
                          <div class="col-md-4 form-group"><button (click)="postemodal.close()" type="button" class="btn btn-danger btn-group ">
                            <i class="glyphicon glyphicon-ban-circle"></i> Annuler</button>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-success" type="button" (click)="onValiderPoste()" [disabled]="formPoste.invalid">Valider <i class="glyphicon glyphicon-ok"></i></button>
                          </div>
                        </div>
                      </form>
                      <div class="alert-info col-md-4" *ngIf="submittingPoste && message === undefined">
                        <span class="fa fa-spinner fa-fw"></span> Enregistrement....
                      </div>
                      <div *ngIf="message" class="alert-success col-md-4">
                        <p>{{message}}</p>
                      </div>
                    </card>
                  </div>
                </ngx-smart-modal>
              </card>
            </tab-content>
            <tab-content for="tabs3" tabTitle="Candidatures">
              <card cardTitle="Liste des candidatures par poste">
                <div class="panel-group" id="accordion" *ngFor="let sp of session?.sessionPostes;let i=index">
                  <div class="panel panel-cool" style="margin-top: 0px">
                    <a [href]="'#collapse'+i" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
                      <div class="panel-heading bg-cool-secondary">
                        <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
                          <strong>{{sp?.pk?.poste?.nom}} <span class="caret"></span></strong>
                        </h4>
                      </div>
                    </a>
                    <div [id]="'collapse'+i" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="responstable">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Prenom</th>
                            <th> Nom </th>
                            <th>ACTION</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngIf="sp?.pk?.poste?.sessionPostes?.length === 0" style="text-align: center">
                            Aucun candidat n'a encore postulé!
                          </tr>
                          <tr *ngFor="let c of sp?.pk?.poste?.sessionPostes;let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{c?.pk?.dossierCandidature?.candidat?.prenom}}</td>
                            <td>{{c?.pk?.dossierCandidature?.candidat?.nom}}</td>
                            <td>
                      <span >
                        <div class="btn-wrap division">
                          <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Action<span class="caret"></span></button>
                             <ul class="dropdown-menu">
                              <li><a (click)="onVoirDossier(c?.pk?.dossierCandidature)"><i class="fa fa-eye fa-fw"></i>Voir dossier</a></li>
                              <li><a><i class="fa fa-minus-circle fa-fw"></i>Eliminer</a></li>
                             </ul>
                          </div>
                        </div>
                      </span>
                            </td>
                          </tr>
                          <br><br><br>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </card>
            </tab-content>
            <tab-content for="tabs3" tabTitle="Entretiens">
              <card cardTitle="Dossiers retenus pour un entretien">
                <ul class="list-group" *ngFor="let s of session?.sessionPostes | paginate: { id: 'pager1',
          itemsPerPage: pageSize, currentPage: pageNumber}">
                  <li class="list-group-item-info">{{s?.pk?.dossierCandidature?.candidat?.prenom}}  {{s?.pk?.dossierCandidature?.candidat?.nom}}
                    <span>
                <div class="btn-wrap division pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #024457; margin-right: 5px">Action<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a (click)="onVoirDossier(s?.pk?.dossierCandidature)"><i class="fa fa-eye fa-fw"></i>Voir Dossier</a></li>
                      </ul>
                  </div>
                </div>
              </span>
                  </li>
                </ul>
              </card>
            </tab-content>
          </tabset>
        </div>
      </card>
    </div>
    <div class="col-lg-4 col-md-4">
      <app-sessions-en-cours></app-sessions-en-cours>
    </div>
  </div>
</div>
